# Update Node Instance IDs with the node instance ID of your haproxy configuration.
# Execute like this: cfy executions start execute_operation -vv -d ha -p haproxy-blueprint/inputs/execute-operation.yaml.example
node_instance_ids: haproxy_configuration_updater_0u2f7i
operation: create
allow_kwargs_override: true
operation_kwargs:
  frontend_port: 3306
  # Toggle 'action: remove' to add and remove a node.
  # action: remove
  update_backends:
    server2:
      address: 10.11.12.5
      port: 3306
      maxconn: 32
